img.react-photo-album--image {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -2px,
    rgba(0, 0, 0, 0.14) 0px 5px 6px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 12px 0px
}

div.tip {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: whitesmoke;
  z-index: 20;
  border: 1px solid black;
}

.yarl__portal {
  --yarl__portal_zindex: 10;
}

