
div.pos-amount,
div.pos-cambio,
div.pos-peso,
div.pos-memo {
  margin-top: 1.5ex;
  font-size: 18pt;
  font-weight: bold;
  input {
    font-size: 22pt;
    text-align: right;
    width: 7em;
  }
  label {
    display:block;
  }
}
input#memo {
  width: 14em;
  text-align: left;
}

